*{

    margin: 0;
    padding: 0;
}

.main1{

    width: 100%;
    height: 100vh;
   background-color: rgb(244, 76, 14);

}

.first1{

    width: 100%;
    height: 20vh;
    display: flex;
    
}

.firstone{

    width: 40%;
    height: 20vh;
   
}

.firstone img{

    width: 130px;
    height: 60px;
    padding-left: 160px;
    padding-top: 30px;
   

}

.firsttwo{

    width: 50%;
    height: 15vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 80px;
}

.firsttwo .item1{

    font-size: 19px;
    color: white;
}

.firsttwo .button1{

    width: 140px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    

}

.button1 p{

    color: white;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.button1 img{

    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;

  
}

.button2{

     width: 120px;
    height: 50px;
    border-radius: 15px;
    background-color: black;
}

.button2 p{

    color: white;
    padding-top: 15px;
    padding-left: 37px;
    font-weight: bold;
}

/* second */

.second{

    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
}

.second{

display: flex;
}

.second1 img{

    height: 400px;
    width: 250px;
    padding-top: 60px;
}

.second2 h1{

    color: white;
    width: 690px;
    height: 160px;
    font-size: 44px;
    padding-left: 430px;
    font-weight: bolder;
   
}

.second2 select{

    width: 330px;
    height: 70px;
    border: 1px solid white;
    border-radius: 15px;
    color: grey;
    font-size: 16px;
    padding-left: 20px;
    margin-left: 300px;
}

.search .input1{


    width: 390px;
    height: 70px;
    border: 1px solid white;
    border-radius: 15px;
    color: grey;
    font-size: 16px;
    padding-left: 20px;
    margin-left: 20px;

}

.contain{

display: flex;
position: relative;

 
}

/* .search img{

    width: 40px;
    height: 40px;
    color: grey;
   
   
} */

.second3 img{

    height: 450px;
    /* padding-left: 139px;
    padding-top: 50px; */
  position: absolute;
  right: 0;

    
}

.second4{

    width:70% ;
    height: 20vh;
    padding-left: 150px;
    display: flex;
}

.second5 img{

    width: 400px;
    height: 400px;
    padding-left: 190px;
}
.second6 img{

    width: 400px;
    height: 400px;
}

.second7 img{

    width: 400px;
    height: 400px;
    
}

/* main2 */


.main2{

    width: 100%;
    height: 60vh;
    /* background-color: red; */
}

.thirdone{

    width: 90%;
    height: 20vh;
    /* background-color: blue; */
    margin-top: 150px;
     display: flex;
    justify-content: center;
    padding-left: 100px;
    
}

.thirdone .images1{

    width: 100%;
    height: 20vh;
    margin-left: 160px;
   
    
   
   
}

.thirdone img{

width: 180px;
height: 160px;
}

.thirdtwo{

    width: 90%;
    height: 20vh;display: flex;
    justify-content: center;
    padding-left: 90px;
    margin-top: 30px;
}

.thirdtwo .images2{

    width: 100%;
    height: 20vh;
      margin-left: 160px;
   

}

.thirdtwo img{

    width: 180px;
height: 160px;
}


/* main3 */

.main3{

    width: 100%;
    height: 110vh;
    /* background-color: red; */
}

.four1{

    width: 50%;
    height: 60px;
    margin-left: 300px;
    /* background-color: blue; */
  

}

.four1 h1{

    font-size: 25px;
    
}

.four2{

    width: 100%;
    height: 28vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


.four2 .fourtwo{

    width: 70%;
    height: 28vh;
    /* background-color: blue; */
    display: flex;
    gap: 40px;
   
  
   
    
} 

.fourthree img{
    width: 100%;
    height: 20vh;
}

.fourthree h1{

    font-size: 22px;
    width: 130px;
    height: 70px;
    color: rgb(102, 98, 98);
}

.fourfor img{

 width: 100%;
    height: 20vh;
}

.fourfor h1{

    font-size: 22px;
    width: 130px;
    height: 60px;
    color:  rgb(102, 98, 98);;
}

.fourfive img{

    width: 100%;
    height: 20vh;
}

.fourfive h1{

    font-size: 22px;
    width: 130px;
    height: 60px;
    color:  rgb(102, 98, 98);;
}

.foursix img{

     width: 100%;
    height: 20vh;
}

.foursix h1{

     font-size: 22px;
    width: 130px;
    height: 60px;
    color:  rgb(102, 98, 98);;
}

.fourseven img{

     width: 80%;
    height: 20vh;
}

.fourseven h1{

     font-size: 22px;
    width: 130px;
    height: 60px;
    color:  rgb(102, 98, 98);;
}

 .foureight img{

     width: 80%;
    height: 20vh;
}

.foureight h1{

     font-size: 22px;
    width: 130px;
    height: 60px;
    color:  rgb(102, 98, 98);;
}

.five{

    width: 100%;
    height: 70vh;
    /* background-color: red; */
}

.fiveone{

    width: 60%;
    height: 9vh;
    /* background-color: blue; */
    margin-top: 90px;
    margin-left: 180px;
}

.fiveone h1{

    height: 10vh;
    width: 50%;
    /* background-color: red; */
    margin-left: 90px;

    font-size: 25px;
}

.five2{

    width: 80%;
    height: 50vh;
    /* background-color: blue; */
    margin-left: 170px;
    
}

.fivetwo{

    width: 93%;
    height: 50vh;
    /* background-color: green; */
    margin-left: 70px;
    display: flex;
    gap: 20px;
}

.fivethree{

    width:350px ;
    height: 200px;
}

.fivethree img{

    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.table1{

    width: 290px;
    height: 200px;
}

.table1 h1{

    font-size: 15px;
    color: rgb(74, 73, 73);
    height: 20px;
}

.table1 p{

     font-size: 17px;
    color: rgb(74, 73, 73);
    height: 30px;
}

.table1 .rest1{

    border: 1px solid grey;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(207, 197, 197);
   
}

.table1 .btn1{

border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 20px;
border-radius: 10px;
background-color: rgb(6, 165, 101);
color: white;
font-size: 15px;
}

.table1 .btn2{

    border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 14px;
border-radius: 10px;
background-color: rgb(145, 211, 185);
color: rgb(33, 175, 104);
font-size: 15px;
}

.fivefour{

    width:350px ;
    height: 200px;
}

.fivefour img{

    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.table2{

    width: 290px;
    height: 200px;
}

.table2 h1{

    font-size: 15px;
    color: rgb(74, 73, 73);
    height: 20px;
}

.table2 p{

     font-size: 17px;
    color: rgb(74, 73, 73);
    height: 30px;
}

.table2 .rest2{

    border: 1px solid grey;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(207, 197, 197);
   
}

.table2 .btn3{

border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 20px;
border-radius: 10px;
background-color: rgb(6, 165, 101);
color: white;
font-size: 15px;
}

.table2 .btn4{

    border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 14px;
border-radius: 10px;
background-color: rgb(145, 211, 185);
color: rgb(33, 175, 104);
font-size: 15px;
}


.fivefive{

    width:350px ;
    height: 200px;
}

.fivefive img{

    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.table3{

    width: 290px;
    height: 200px;
}

.table3 h1{

    font-size: 15px;
    color: rgb(74, 73, 73);
    height: 20px;
}

.table3 p{

     font-size: 17px;
    color: rgb(74, 73, 73);
    height: 30px;
}

.table3 .rest3{

    border: 1px solid grey;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(207, 197, 197);
   
}

.table3 .btn5{

border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 20px;
border-radius: 10px;
background-color: rgb(6, 165, 101);
color: white;
font-size: 15px;
}

.table3 .btn6{

    border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 14px;
border-radius: 10px;
background-color: rgb(145, 211, 185);
color: rgb(33, 175, 104);
font-size: 15px;
}

.fivesix{

    width:350px ;
    height: 200px;
}

.fivesix img{

    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.table4{

    width: 290px;
    height: 200px;
}

.table4 h1{

    font-size: 15px;
    color: rgb(74, 73, 73);
    height: 20px;
}

.table4 p{

     font-size: 17px;
    color: rgb(74, 73, 73);
    height: 30px;
}

.table4 .rest4{

    border: 1px solid grey;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(207, 197, 197);
   
}

.table4 .btn7{

border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 20px;
border-radius: 10px;
background-color: rgb(6, 165, 101);
color: white;
font-size: 15px;
}

.table4 .btn8{

    border: 1px solid grey;
width: 290px;
height: 35px;
margin-top: 14px;
border-radius: 10px;
background-color: rgb(145, 211, 185);
color: rgb(33, 175, 104);
font-size: 15px;
}

/* main4 */

.main4{

width: 100%;
height: 35vh;
background-image:url(./images/4c80e59a-0314-4652-a076-b4252f9263da.jpeg) ;
background-size: cover;
/* background-repeat: no-repeat; */

}

/* main5 */


.main5{

    width: 100%;
    height: 45vh;
    /* background-color: red; */
     display: flex;
    justify-content: center;

}

.sixone{

    width: 70%;
    height: 30vh;
    /* background-color: blue; */
    margin-top: 60px;
   
}

.sixone h1{

    font-size: 27px;
    
}

.six1{

    width: 100%;
    height: 6vh;
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.six1 .btn1{

width: 250px;
height: 6vh;
border-radius: 10px;
border: none;
font-size: 15px;
color: rgb(90, 89, 89);
border: 1px solid rgb(169, 165, 165);
background-color: white;
}

.six2{

     width: 100%;
    height: 6vh;
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.six2 .btn2{

    width: 250px;
height: 6vh;
border-radius: 10px;
border: none;
font-size: 14px;
color: rgb(90, 89, 89);
border: 1px solid rgb(169, 165, 165);
background-color: white;
}

.six3{

     width: 100%;
    height: 6vh;
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.six3 .btn3{

      width: 250px;
height: 6vh;
border-radius: 10px;
border: none;
font-size: 14px;
color: rgb(90, 89, 89);
border: 1px solid rgb(169, 165, 165);
background-color: white;

}

.six3 .btn4{

      width: 250px;
height: 6vh;
border-radius: 10px;
border: none;
font-size: 16px;
color: rgb(214, 82, 25);
border: 1px solid rgb(169, 165, 165);
background-color: white;
}

.six3 img{

    width: 25px;
    height: 25px;
   
}

/* main6 */

.main6{

     width: 100%;
    height: 40vh;
    /* background-color: red; */
     display: flex;
    justify-content: center;
}

.sevenone{

     width: 70%;
    height: 30vh;
    /* background-color: blue; */
}

.sevenone h1{

    font-size: 27px;
}

/* main7 */

.eight{

    width: 100%;
    height: 50vh;
    background-color:rgb(228, 226, 229);
    display: flex;
     border-bottom: 1.5px solid grey;
   

}

.eightone{

    width: 37%;
    height: 50vh;
    /* background-color: red; */
    
}

.eightone img{


    width: 130px;
    height: 60px;
    padding-left: 200px;
    padding-top: 30px;
}

.eightone p{

    font-size: 15px;
    color: rgb(152, 151, 151);
    padding-left: 210px;
}

.eighttwo{

    width: 70%;
    height: 50vh;
    /* background-color: red; */
    display: flex;
}

.eight2{

    width: 20%;
    height: 50vh;
    /* background-color: blue; */
}

.eight2 .footer1{

    font-size: 26px;
    height: 40px;
    padding-top: 40px;
}

.eight2 .foot1{

    color: rgb(120, 116, 116);
    font-size: 19px;
    line-height: 35px;
}

.eight3{

    width: 20%;
    height: 50vh;
    /* background-color: blue; */
}

.eight3 .footer2{

     font-size: 26px;
    height: 40px;
    padding-top: 40px;
}

.eight3 .foot2{

     color: rgb(120, 116, 116);
    font-size: 19px;
    line-height: 35px;
}

.eight4{

     width: 20%;
    height: 50vh;
    /* background-color: blue; */
}

.eight4 .footer3{

      font-size: 26px;
    height: 40px;
    padding-top: 40px;
}

.eight4 .foot3{

    color: rgb(120, 116, 116);
    font-size: 19px;
    line-height: 35px;
}

.eight4 select{

    width: 130px;
    height: 40px;
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 10px;
     background-color:rgb(228, 226, 229);
     color:  rgb(120, 116, 116);
     font-size: 16px;
}

.eight5{

    width: 20%;
    height: 50vh;
    /* background-color: blue; */

}

.eight5 .footer4{

      font-size: 26px;
    height: 44px;
    padding-top: 40px;
}

.eight5 .foot4{

    color: rgb(120, 116, 116);
    font-size: 19px;
    line-height: 35px;
}

.eight6{

   display: flex;
    gap: 10px;
}

.eight6 img{

     width: 28px;
    height: 25px;
}

.nine{

    width: 100%;
    height: 15vh;
   background-color:rgb(228, 226, 229);
   display: flex;
}

.nine h1{

    padding-top: 40px;
    font-size: 27px;
    color: rgb(53, 49, 49);
    padding-left: 340px;
    font-style: normal;
    font-family: arial;
}

.nine img{

    width: 220px;
    height: 65px;
    padding-left: 40px;
    padding-top: 30px;
}







